extends ../layouts/default

block intro
	h1 About the National Go Center
	
block content
	
	ul
		li: a(href='#location') Location &amp; Directions
		li: a(href='#parking') Parking
		li: a(href='#cost') Costs &amp; Fees
		li: a(href='#schedule') Hours &amp; Schedule
		//- li: a(href='#history') History
		//- li: a(href='#memberships') Memberships
		//- li: a(href='#volunteering') Volunteering
		
	h2#location Location
		
	:markdown-it
		The National Go Center is located at 4642 Wisconsin Ave NW, Washington, DC 20016,
		two blocks north of the [Tenleytown Metro Station](https://www.wmata.com/rider-guide/stations/tenleytown.cfm).
		
		It's directly above the [Satay Club](http://www.asiansatayclub.com/) restaurant
		and a [Papa John's](https://www.papajohns.com/locations/usa/dc/washington/20016/4656-wisconsin-ave/837),
		both of which come highly recommended by NGC volunteers. Their takeout and pizza
		has fueled many fierce games of go.
		
		The NGC kitchen has a Keurig pot for coffee ($1 suggested donation) and an
		electric tea kettle for other hot drinks. (We usually have a good supply of
		green tea, though contributions are welcome.)
		
	iframe(
		src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.823999538072!2d-77.08325968511139!3d38.95084897956241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c9eaeb79e955%3A0x2fe583b47aa82fbe!2sNational+Go+Center!5e0!3m2!1sen!2sus!4v1496776972977'
		width='100%'
		height='350'
		frameborder='0'
		style='border:0'
		allowfullscreen
	)
	
	h2#parking Parking
		
	:markdown-it
		The residential streets off Wisconsin Avenue, such as Chesapeake, have
		mostly two-hour, zoned parking that becomes unlimited after 6 PM on
		weekdays and on weekends, so parking is usually relatively easy.
		
		Weekdays before 6 PM, it's hard to find parking if you need to stay
		for longer than two hours—the closest unzoned parking is about five
		blocks west of the center.
		
	h2#schedule Hours &amp; Schedule
		
	:markdown-it
		The NGC is staffed entirely by volunteers, who come in at different times
		during the week to open the doors and tables to the community.
		
		For the current schedule, please check our [calendar](http://calendar.nationalgocenter.org)
		for up-to-date listings of when the doors are open throughout the week,
		tournaments, classes, and other special events.
		
		This is the rough weekly schedule, but be sure to check the
		calendar for current information.
		
	dl.schedule
		dt Sunday
		dd
			:markdown-it
				Once a month, [Yuan Zhou](http://zhouyuan.com) holds group go lessons from 9:30 AM – 4:30 PM for a fee of $100. Check [calendar](http://nationalgocenter.org/calendar) for dates.
		
		dt Monday
		dd
			:markdown-it
				The NGC isn't currently open on Mondays, but the [NOVA Go Club](http://www.novagoclub.org/) meets in Arlington.
		
		dt Tuesday
		dd
			:markdown-it
				**7:00 PM – 11:00 PM**, hosted by [Patrick Sun](mailto:patrick.k.sun@gmail.com).
		
		dt Wednesday
		dd
			:markdown-it
				**5:00 PM — 9:00 PM**: Beginner/Intermediate Go, hosted by [Laurie Ensworth](mailto:lensworth@verizon.net).
				Newer and less-experienced players are invited to join Laurie on Wednesday evenings for games and instruction.
				
				**7:00 PM – 11:00 PM**, hosted by [Eric Haengel](mailto:eric.c.haengel@gmail.com).
				This is our biggest weekly go night: if you can come only one evening,
				we encourage you to join us on Wednesdays!
				
		dt Thursday
		dd
			:markdown-it
				**9:30 AM – 5:00 PM**, hosted by [Nate Eagle](mailto:nate.eagle@nationalgocenter.org).
				
		dt Friday
		dd
			:markdown-it
				**7:00 PM – 11:00 PM: BLITZ Go**, hosted by [Haskell Small](mailto:haskell@haskellsmall.com).
				Test your mettle against the clock! Can you survive the pressure of tight
				time limits? (For those who break into sweat at the thought of a beeping
				block, be assured that casual games are still totally acceptable.)
				
		dt Saturday
		dd
			:markdown-it
				**1:00 PM – 4:00 PM: Family Go**, hosted by [Nate Eagle](mailto:nate.eagle@nationalgocenter.org)
				and [Conrad Chaffee](conrad.chaffee@gmail.com). Pizza and lots of go-related
				fun for kids of all ages. Well suited for beginners of any age, and a
				great opportunity to teach the next generation for experienced players.
				
		:markdown-it
			Again, please [check the calendar](http://calendar.nationalgocenter.org)
			for current information!
			
	h2#cost Costs &amp; Fees
	
	:markdown-it
		Regular hours at the NGC are free to all. If you value the NGC, we invite
		you to support the center by becoming a member!
		
		Tournaments and some classes have fees that are noted in the details of the
		event on the calendar. Unless explicitly noted, all events are free of
		charge.
