extends ../layouts/default

block intro
	h1 Coming soon to Washington!

	p The National Go Center will be a home for regular play, tournaments, instruction, and educational&nbsp;outreach.

	p.clearfix
		a.btn.btn-primary.btn-lg.pull-right(href='/news/post/national-go-center-planned-for-dc') Learn More

block content
	.row
		.col-md-7.what-is-go
			h2 What is Go?
			
			p: b Go is the hardest, deepest, best game humans&nbsp;play.
			p Its rules are incredibly simple, but the strategy and tactics that emerge from them are vast and profound. Many players around the world spend lifetimes trying to improve their play. There are highly competitive organizations of professional players in many countries in Asia, and emerging professional players in the United States and Europe.
			
			ul
				li
					a(href='http://playgo.to/iwtg/en/') Learn to play
				li
					a(href='http://www.usgo.org/what-go') Read more about go at the American Go Association
					
		.col-md-5.recent-news
			h2 Recent News
			ul
				each post in data.posts.results
					li
						a(href=`/news/post/${post.slug}`) #{post.title}
					
		.col-md-5.recent-news
			h2 Announcements
			ul
				each item in data.announcements.items
					li
						a(href='#{item.link}') !{item.title}
					
			h2 Events
			ul
				each item in data.events.items
					li
						a(href='#{item.link}') !{item.title}
					
