extends ../layouts/default

block intro
	h1 Now Open!

	p The National Go Center is a home for regular play, tournaments, instruction, and educational&nbsp;outreach.

	p.clearfix
		a.btn.btn-primary.btn-lg.pull-right(href='/news/post/national-go-center-heading-for-april-29-30-opening') Learn More

block content
	.row
		.col-md-8.what-is-go
			h2 What is Go?

			p: b Go is the hardest, deepest, best game humans&nbsp;play.
			p Its rules are incredibly simple, but the strategy and tactics that emerge from them are vast and profound. Many players around the world spend lifetimes trying to improve their play. There are highly competitive organizations of professional players in many countries in Asia, and emerging professional players in the United States and Europe.

			h2 The National Go Center

			p The NGC is located at
				= ' '
				a(href='https://www.google.com/maps/place/4652+Wisconsin+Ave+NW,+Washington,+DC+20016/@38.9508549,-77.083192,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7c9ea94b57705:0xfd0e06868908f407!8m2!3d38.9508549!4d-77.080998') 
					| 4652 Wisconsin Ave NW
				= ' '
				| in Washington, DC.

			ul.list-display
				li
					a(href='http://playgo.to/iwtg/en/') Learn to&nbsp;play
				li
					a(href='http://www.usgo.org/what-go') Read more about go at the American Go&nbsp;Association

			.row.row-grid
				.col-sm-12
					h2 Recent News
					ul.list-display
						each post in data.posts.results
							li
								a(href=`/news/post/${post.slug}`) !{post.title.replace(/ ([^ ]*)$/g, '&nbsp;$1')}

				.col-sm-12
					.forum.panel.panel-default
						.panel-heading
							| From the
							= ' '
							a(href='http://forum.nationalgocenter.org') Forum
						.panel-body
							.col-sm-6
								h3 Announcements
								ul.list-display
									each item in data.announcements.items
										li
											a(href=item.link) !{item.title.replace(/ ([^ ]*)$/g, '&nbsp;$1')}

							.col-sm-6
								h3 Events
								ul.list-display
									each item in data.events.items
										li
											a(href=item.link) !{item.title.replace(/ ([^ ]*)$/g, '&nbsp;$1')}


		.col-md-4
			//- Facebook follow button, keep for future reference
				iframe(
					src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fnationalgocenter%2F&width=78&height=65&layout=button&size=large&show_faces=true&appId=62565366656"
					width="78"
					height="65"
					style="border:none;overflow:hidden"
					scrolling="no"
					frameborder="0"
					allowTransparency="true"
				)
			//- Facebook page badge, keep for future reference
				iframe(
					src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnationalgocenter%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=248273971893081"
					width="340"
					height="500"
					style="border:none;overflow:hidden"
					scrolling="no"
					frameborder="0"
					allowTransparency="true"
				)

			a.twitter-timeline(
				href='https://twitter.com/natgocenter'
				data-tweet-limit='5'
				data-chrome='transparent'
			)
			script(async src='//platform.twitter.com/widgets.js' charset='utf-8')
